.container{
    margin:auto;
    text-align: center;
    padding-top: auto;
}

.filter-container{
    padding-top: 2rem;
}
h3{
    color:gray;
    text-decoration: underline;
}

button{
    background-color: cadetblue;
    color: white;
    height:50px;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
}